.main .inner-content{
    background: #EEF1F6;
    padding:0;
}
.inner-content .left-panel{
    position:absolute;
    overflow:hidden;
}
.right-panel{
    height: 100%;
}
.inner-content .right-panel, .inner-content .rt-top-panel{
    background: transparent;
    padding: 0;
}
.right-panel .rt-top-panel{
    width: 100%;
    margin-bottom:20px;
    position:relative;
}

.rt-top-panel .rt-top-lt,.rt-top-panel .rt-top-rt{
    height: 100%;
}
.rt-top-panel .rt-top-lt{
    margin-right: 20px;
    position:absolute;
}
.left-panel div,.rt-top-lt div,.rt-top-rt div,.rt-bottom-panel div{
    padding: 0;
}
.left-panel,.rt-bottom-panel,.rt-top-lt,.rt-top-rt{
	border:1px solid #DEE2E9;
	overflow:hidden;
	position:relative;
	-moz-border-radius: 2px; 
 	-webkit-border-radius:2px; 
 	border-radius: 2px; 
	behavior: url(../static/js/public/ie-css3.htc); /* 通知IE浏览器调用脚本作用于'box'类 */
	 padding: 20px;
    background: #fff;
}
.content .left-panel,.content .rt-bottom-panel{
    padding-bottom: 0;
}

.panel-title .Wdate{
    border: #ccc 1px solid;
    width: 96px;
    height: 30px;
    padding: 8px;
    background: #f3f3f3 url(../img/data.png) no-repeat 70px;
    outline: none;
    border-radius: 2px;
}


.left-panel-table{
    width: 100%;
    min-width: 280px;
    margin-top: 10px;
}
.left-panel-table td{
    width: 50%;
    padding: 10px 14px;
    border-bottom:1px solid #ccc;
    border-right: 1px solid #ccc;
    position: relative;
    // padding:0 20px 0 0;
    
    vertical-align: top;padding-top: 15px;
}
.left-panel-table td.has-bg {
    background: url(../img/ico_qs.png) no-repeat center 75%;
}
.left-panel-table td+td{
	padding-left:20px;
}
.left-panel-table td i{
    display: inline-block;
    width: 32px;
    height: 32px;
}
.left-panel-table td ul{
    margin-left: 8px;
}
.left-panel-table td ul li{
    font-size: 14px;
    padding:2px 0;
    text-align:center;
}
.left-panel-table td ul li+li{
	color:#758494;
}
.left-panel-table td>div{
	
	text-align:center;
}
.rate-bar{
	margin-top:10px;
}
.rate-bar>p{
	width:100px;
	height:10px;
	border-radius:10px;
	background:#F9F2E7;
	margin:0 auto;	
	position:relative;
}
.rate-bar>p>span{
	display:inline-block;
	height:100%;
	border-radius:10px;
	background:#EEB760;
	position:absolute;
	top:0;
	left:0;	
}
/*累计活动和渠道分发TOP3样式*/
.small-font{
    font-size:12px;
    -webkit-transform-origin-x: 0;
    -ms-transform-origin-x: 0;
    -moz-transform-origin-x: 0;
    transform-origin-x: 0;
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
    -ms-transform: scale(0.70);
    transform: scale(0.70);

}
.top1{
    background: #E890AF;
    border: 1px solid #e77154;
}
.top2{
    background: #F4AE49;
    border: 1px solid #F4AE49;
}
.top3{
    background: #64C190;
    border: 1px solid #5ab986;
}
.top4{
    background: #85B1E3;
}
.top5{
    background: #85B1E3;
}
.rt-top-panel .panel-content{
	margin-top:10px;
}
.panel-content .row{
    margin-top: 4px;
}
.panel-content .row li p{
    width: 85px;
    width: 60px \9;     /*IE8*/
    text-align: right;
}
.panel-content .row li span{
    display: inline-block;
    width: 60px;
    text-align: right;
}
.panel-content .row li b{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    width: 100px;
    position: relative;
    left: 8px;
    color: #ffffff;
    font-weight: normal;
    padding: 0 10px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
 
}
.panel-content .row li i{
    font-style: normal;
    font-size: 12px;
    margin-left: 8px;
}
/*优秀案例TOP5样式*/
 .rt-bottom-panel .panel-title{
     border: none;
     padding-bottom: 5px;
 }
 .rt-bottom-panel .panel-title span.color-grey{
 	color: #9ba7b4;
 }
 
 .rt-bottom-panel .table{
     width:100%;
     margin-top: 13px;
 } 
#goodJobs thead tr td{
 	background:#F0F3F8;
 }
 .td-13{
     width: 13%;
 }
.table .td-30{
     width: 36%;
     text-align: left;
     padding-left: 10px;
 }

/*筛选弹框*/
.filter-panel{
	width:220px;
	left:126px;
	top:76px;
}
.radio-box p{
	width:80px;
	height:24px;
}
     /*canvas*/
.cv {
    behavior: url(../js/plugins/ie-css3.htc);
}