#create_modal_title{
	border-left: 2px solid #e890af;
	padding-left:10px;
}
.create_ul{
	width:100%;
	margin-left:3%;
	border-right: 4px solid #f0f3f8;
}
.create_li{
    width: 100%;
    margin-bottom: 40%;
   	padding-right:5px;
   	margin-right:-20px;
}

.create_ul .create_li a{
	text-decoration: none;
}
.create_ul .create_li a:hover, a:visited{
	text-decoration: none;
}

.create_li:HOVER{
    width: 100%;
    margin-bottom: 40%;   	 
    border-right: 4px solid #e890af;
    margin-right:-9px;
}

.modal-box-nav{
	width:8%;
	height:100%;
	float:left;
	margin-left:3%;
	border-right: 4px solid #f0f3f8;
	
	
}

.modal-box-content{
	width:80%;
	margin-left:3%;
	float:left;
	
}



.modal-box-nav #create_item_num{
	padding:0;
	margin:0;
	width:100%;
	text-align: right;
	
}

#create_item_text_1,#create_item_text_2,
#create_item_text_3,#create_item_text_4,
#create_item_text_5{
	padding:0;
	margin:0;	
	width:100%;
	text-align: right;
}
.modal-box-content .content-item h3 {
	padding-bottom:3%;
	border-bottom: 2px dashed red;
}
