body,ul,li{
    margin:0;
    padding:0;
}
.tools_modules{
    width: 900px;
    margin-top:70px;
    margin-left: auto;
    margin-right: auto;
}
.tools_modules_content{
    margin-left: 5px;
    margin-top: 5px;
    list-style-type:none;
}

.tools_modules_content li{
    float:left;
    line-height: 100px;
    margin: 10px;
}
.tools_modules_content li a,
.tools_modules_content li a:visited{
    background-color: #fff;
    text-decoration: none;
    display:block;
    color: #777;
    font-weight: 700;
    width: 200px;
    height: 100px;
    margin-left: -5px;
    margin-top: -5px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    box-shadow:0 1px 3px rgba(0,0,0,.055);
    border: 1px solid #ddd;
    transition:all .2s ease-in-out;
}
.tools_modules_content li a .into{
    position: absolute;
    display: none;
    top: 0px;
    text-align: center;
    width: 200px;
    height: 100px;
}

.tools_modules_content li a:hover .into{
    position: absolute;
    display: block;
    background:#C4E1FF;
    font-weight: 500;
    top: 0px;
    text-align: center;
    font-size: 20px;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    box-shadow:0 1px 3px rgba(0,0,0,.055);
    border: 1px solid #ddd;
}

.tools_modules_content li a:hover{
    opacity:0.5;
    background-color: #C4E1FF;
    z-index: 2;
}
.tools_img{
    width: 30%;
    margin-right:22px;
    margin-left:22px;
}