.modal-wrap-upload{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(250,250,250,.9);
    top: 0;
    z-index: 6666;
    display: none;
}
.upload-wait-hint{
    text-align:center;
    position:absolute;
    top:50%;
    left:48%;
}
.main .content .inner-content{
    width: 100%;
    height: 100%;
    background: #fff;
    padding:10px 20px 20px 20px;
    position:relative;
}
.content .panel-title{
    padding-bottom:11px;
}
.table tbody td>p{
    width:24px;
    height:24px;
    position:relative;
    text-align:center;
    margin:0 auto;
}
#search{
    padding: 3px 5px;
}
.wrapper{
    padding: 10px 0 20px 0;
    margin: 0 auto;
}
.wrapper label{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
    font-size: 16px;
    color: #333;
    padding:0 0 3px 10px;
    display: block;
}
.way,.city,.priority,.phoneNumber,.appsettingname,.appsettingId {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    width: 550px;
    height: 35px;
    padding: 0 5px;
    border: 1px solid #d4d9e4;
    border-radius: 3px;
    outline: none;
}
.way1,.city1,.priority1,.phoneNumber1,.appsettingname1,.appsettingId1 {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    width: 550px;
    height: 35px;
    padding: 0 5px;
    border: 1px solid #d4d9e4;
    border-radius: 3px;
    outline: none;
}
.modal-box-content .row .item-property{
    display: inline-block;
    width: 90px;
}
.select-m-style{
    width: 300px;
    height: 30px;
    margin-left: 10px;
    background: #FBFCFE;
    border: 1px solid #d4d9e4;
    border-radius: 2px;
    padding: 0 5px;
}
.icon{
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 3px;
    position: relative;
}

.approver_modal_box{
    width: 400px;
    min-width: 40%;
    left:72%;
}
.approver_modal_box_a{
    margin-top: -20px;
}
.approver_modal_wrapper{
    margin: 40px;
}
.approver_modal_wrapper .item-property{
    display: inline-block;
    width: 100px;
    text-align: right;
}
.filter-panel .row .bg-border{
    width:200px;
}
.filter-panel{
    right:140px;
}
.select-m1-style{
    margin-top: 26px;
    width: 150px;
}